################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/gomind-backend-api/.vs
/gomind-backend-api/bin/Debug/net8.0
/gomind-backend-api/obj
